@model IEnumerable<UIAutomate.Models.VisAWITest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisagreeEtAll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disagree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisagreeRather)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neutral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgreeRather)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgreeEtAll)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisagreeEtAll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disagree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisagreeRather)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neutral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgreeRather)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgreeEtAll)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
