@model IEnumerable<UIAutomate.Models.UEQTest>

@{
    ViewData["Title"] = "UEQ - User Experience Questionnaire";
}

<h1>UEQ - User Experience Questionnaire</h1>

<h4>For the assessment of the product, please fill out the following questionnaire. 
The questionnaire consists of pairs of contrasting attributes that may apply to 
the product. The circles between the attributes represent gradations between 
the opposites. You can express your agreement with the attributes by ticking 
the circle that most closely reflects your impression.
@* Example:
attractive        unattractive *@
This response would mean that you rate the application as more attractive
than unattractive.
Please decide spontaneously. Don’t think too long about your decision to 
make sure that you convey your original impression.
Sometimes you may not be completely sure about your agreement with a 
particular attribute or you may find that the attribute does not apply completely 
to the particular product. Nevertheless, please tick a circle in every line.
It is your personal opinion that counts. Please remember: there is no wrong or 
right answer!

Please assess the product now by ticking one circle per line.
</h4>
<hr />
@using(Html.BeginForm("CreateUEQs", "Testperson", FormMethod.Post, new { role = "form" }))
{
    <form asp-action="CreateUEQs" ,controller="SUSTest", formaction>
        <div class="row">
        <div class="col-md-4">
            <table>
            <tr>
                <thead>
                    <tr>
                        <th></th> 
                        <th> <div id="valid1">1</div>     </th> 
                        <th> <div id="valid2">2</div> </th> 
                        <th> <div id="valid3">3</div> </th> 
                        <th> <div id="valid4">4</div></th>
                        <th> <div id="valid5">5</div></th>
                        <th> <div id="valid6">6</div> </th>
                        <th> <div id="valid7">7</div> </th> 
                    </tr>  
                </thead>
                <tbody>
                @foreach (var item in Model as IEnumerable<UIAutomate.Models.UEQTest>) 
                {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @* <input type="hidden" asp-for="@item"  /> *@
                <input type="hidden" asp-for="@item.Id"  />
                <input type="hidden" asp-for="@item.LeftWord"  />
                <input type="hidden" asp-for="@item.RightWord"  />
                <tr>
                    <th>
                        @Html.DisplayFor(model => item.LeftWord)
                    </th>
                    <th>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="@item.one" type="checkbox" id="cb1" value="true"/>
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="@item.two" type="checkbox" id="cb2"  /> 
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="@item.three" type="checkbox" id="cb3" />
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="@item.four" type="checkbox" id="cb4"/> 
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="@item.five" type="checkbox" id="cb5" />
                            </label>
                        </div>
                    </th>
                     <th>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="@item.six" type="checkbox" id="cb6" />
                            </label>
                        </div>
                    </th>
                     <th>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="@item.seven" type="checkbox" id="cb7" />
                            </label>
                        </div>
                    </th>
                    <th>
                        @Html.DisplayFor(model => item.RightWord)
                    </th>
                </tr>
                }
                </tbody> 
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
