@{
    ViewData["Title"] = "Machines";
}


@* Modal for the Create a Machine *@
@* TODO close dont work *@
<form method="POST" action="/Machine/Create">
    <div class="modal " id="createMachineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title " id="exampleModalLabel">New Machine</h5>
                </div>
                <div class="modal-body ">
                    <!-- Machinename input -->
                    <div class="container-fluid">
                        <div class="row justify-content-evenly">
                            <div class="col-sm-auto ">
                                 <input type="text" name="Machinename" id="Machinename" class="form-control" />
                                <label class="form-label" for="Machinename">
                                    <div class="en">Machinename</div>
                                    <div class="de">Maschinenname</div>
                                    <div class="sv">Användarnamn</div>
                                </label>

                                <div class="row">
                                    <div class="col-8 col-sm-6">
                                        <input type="text" name="Brand" id="Brand" class="form-control" />
                                        <label class="form-label" for="Brand">
                                            <div class="en">Brand</div>
                                            <div class="de">Typ</div>
                                            <div class="sv">Brand</div>
                                        </label>
                                    </div>
                                    <div class="col-4 col-sm-6">
                                        <input type="text" name="Model" id="Model" class="form-control" />
                                        <label class="form-label" for="Model">
                                            <div class="en">Model</div>
                                            <div class="de">Model</div>
                                            <div class="sv">Model</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer justify-content-center">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">
                        <div class="en">Create</div>
                        <div class="de">Erstellen</div>
                        <div class="sv">Create</div>
                    </button>
                    @* <a id="closemodal" href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a> *@
                    @* <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <div class="en">Close</div>
                        <div class="de">Schließen</div>
                        <div class="sv">Closa</div>
                    </button> *@
                </div> 
            </div>
        </div>
    </div>
</form>


<!-- Masthead-->
<section class="call-to-action text-white text-center">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-black">
                    <!-- Page heading-->
                    <h1 class="mb-5 en">Machines</h1>
                    <h1 class="mb-5 de">Maschinen</h1>
                    <h1 class="mb-5 sv">maskiner</h1>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 align-self-end ">
                        <!-- Earnings (Monthly) Card Example -->
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h1 class="card-title text-black">Create a new Machine</h1>
                        <p class="card-text">Click here to register a new Machien</p>
                        @* <a asp-area="" asp-controller="Machine" asp-action="Create" asp-route-id="1" class="btn btn-primary">Go somewhere</a> *@
                        <a type="button" class="btn btn-primary me-2"  data-bs-toggle="modal" data-bs-target="#createMachineModal" asp-area="" asp-controller="Machine" asp-action="Create">
                            <div class="en">Register Machine</div>
                            <div class="de">Registriere  Maschine</div>
                            <div class="sv">Registriere  Maschien</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="showcase">
    <div class="container-fluid p-0">
        <div class="container mt-5">
            @* <div class="form-outline mb-4">
                <input type="text" class="form-control" id="datatable-search-input" />
                <label class="form-label" for="datatable-search-input">Search</label>
            </div> *@
            <div id="datatable">
                <table class="table table-hover table-expandable table-striped ">
                    <thead>
                        <th>
                            <div class="en">Identificaton</div>
                            <div class="de">Identifikation</div>
                            <div class="sv">Identifiering</div>
                        </th>
                        <th>
                            <div class="en">Manufacturer</div>
                            <div class="de">Hersteller</div>
                            <div class="sv">Tillverkare</div>
                        </th>
                        <th>
                            <div class="en">Machine Model</div>
                            <div class="de">Maschinen-Modell</div>
                            <div class="sv">Maskinmodell</div>
                        </th>    
                        <th>
                            <div class="en">Type</div>
                            <div class="de">Typ</div>
                            <div class="sv">Typ</div>
                        </th>
                        <th>
                            <div class="en">Year</div>
                            <div class="de">Baujahr</div>
                            <div class="sv">Byggår</div>
                        </th>
                        <th>
                            <div class="en">Actions</div>
                            <div class="de">Aktionen</div>
                            <div class="sv">Åtgärder</div>
                        </th>
                    </thead>
                    <tbody>
                        @foreach (var machine in Model)
                        {
                            <tr class="table-bordered">
                                <td>@machine.InternalId</td>
                                <td>@machine.Model.Manufacturer</td>
                                <td>@machine.Model.ModelName</td>
                                <td>@machine.Model.MachineType</td>
                                <td>@machine.Model.ModelYear</td>
                                <td>
                                    <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Dropdown button
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a asp-controller="Machine" asp-action="Update" asp-route-id="@machine.Id" type="button" class="dropdown-item">
                                                <div class="en">Update</div>
                                                <div class="de">Ändern</div>
                                                <div class="sv">Förändra</div>
                                            </a>
                                        </li>
                                        <li>
                                            <button type="submit" class="dropdown-item">
                                                <div class="en">Delete</div>
                                                <div class="de">Löschen</div>
                                                <div class="sv">Släcka</div>
                                            </button>
                                        </li>
                                        
                                    </ul>
                                </td>
                                <td>
                                    <a asp-controller="Chart" asp-action="Show" asp-route-id="@machine.Id" type="button" class="btn btn-secondary">
                                    <div class="en">Show</div>
                                    <div class="de">Anzeigen</div>
                                    <div class="sv">Visa</div>
                                    </a>
                                     @* <a asp-controller="Installation" asp-action="Show" asp-route-id="@machine.Id" type="button" class="btn btn-secondary">
                                    <div class="en">Show</div>
                                    <div class="de">Anzeigen</div>
                                    <div class="sv">Visa</div>
                                    </a> *@
                                </td>
                            </tr>           
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>



<script>

    var a = 0;
    var toggleCookie = getCookie("toggleUnused");
    if(toggleCookie != ""){
        a = toggleCookie;
    }
    setStyle();

    function changeStyle(){
        a++;
        document.cookie = "toggleUnused=".concat(a,";path=/"); 
        setStyle();
    }

    function setStyle(){
        var unused = document.getElementById("unused");
        var used = document.getElementById("used");
        var toggleButton = document.getElementById("toggleButton");

        if (a%2 == 0){
            unused.style.display = "none";
            used.style.display = "block";
            toggleButton.style = "background-color: #b72828";
        }
        else{
            unused.style.display = "block";
            used.style.display = "none";
            toggleButton.style = "background-color: #31b728";
        }
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');

        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>