@model UIAutomate.Models.SUSTest

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SUSTest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StronglyDisagree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StronglyDisagree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disagree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disagree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Neutral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Neutral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StronglyAgree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StronglyAgree)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
