@{
    ViewData["Title"] = "System Usballity Scale (SUS)";
}
<h1>@ViewData["Title"]</h1>

@foreach (var sustest in Model)
{
    @* @sustest.Question @sustest.StronglyDisagree @sustest.Disagree @sustest.Neutral @sustest.Agree @sustest.StronglyAgree  *@

<p>Please rate on the following scale to what extent you agree with the statements.</p>


<form action="/action_page.php">
    <table>
        <tr>
            <tr>
                <th></th> 
                <th> <div id="valid">Strongly disagree</div> </th> 
                <th> <div id="valid">Disagree</div> </th> 
                <th> <div id="valid">Neutral</div></th>
                <th> <div id="valid">Agree</div></th>
                <th> <div id="valid">Strongly agree</div> </th>
            </tr>
            <tr>
                <th>I think that I would like to use this website frequently.</th>
                <div class= "checkbox">
                    @* <div class="thcheck"> *@
                        <th><input type="checkbox" id="cb11" name="cb11" value=@sustest.StronglyDisagree> </th>
                        <th><input type="checkbox" id="cb12" name="cb12" value=@sustest.Disagree> </th> 
                        <th><input type="checkbox" id="cb13" name="cb13" value=@sustest.Neutral></th> 
                        <th><input type="checkbox" id="cb14" name="cb14" value=@sustest.Agree></th> 
                        <th><input type="checkbox" id="cb15" name="cb15" value=@sustest.StronglyAgree></th>
                    @* </div> *@
                </div>
            </tr>
            <tr>
                <th>I found the website unnecessarily complex.</th>
                <div class= "checkbox">
                    @* <div class="thcheck"> *@
                        <th><input type="checkbox" id="cb11" name="cb11" value=@sustest.StronglyDisagree> </th>
                        <th><input type="checkbox" id="cb12" name="cb12" value=@sustest.Disagree> </th> 
                        <th><input type="checkbox" id="cb13" name="cb13" value=@sustest.Neutral></th> 
                        <th><input type="checkbox" id="cb14" name="cb14" value=@sustest.Agree></th> 
                        <th><input type="checkbox" id="cb15" name="cb15" value=@sustest.StronglyAgree></th>
                    @* </div> *@
                </div>
            </tr>
            <tr>
                <th>I thought the website was easy to use. </th>
                <div class= "checkbox">
                    @* <div class="thcheck"> *@
                        <th><input type="checkbox" id="cb11" name="cb11" value=@sustest.StronglyDisagree> </th>
                        <th><input type="checkbox" id="cb12" name="cb12" value=@sustest.Disagree> </th> 
                        <th><input type="checkbox" id="cb13" name="cb13" value=@sustest.Neutral></th> 
                        <th><input type="checkbox" id="cb14" name="cb14" value=@sustest.Agree></th> 
                        <th><input type="checkbox" id="cb15" name="cb15" value=@sustest.StronglyAgree></th>
                    @* </div> *@
                </div>
            </tr>
            <tr>
                <th>I think that I would need the support of a technical person to be able to use this website.</th>
                <div class= "checkbox">
                    @* <div class="thcheck"> *@
                        <th><input type="checkbox" id="cb11" name="cb11" value=@sustest.StronglyDisagree> </th>
                        <th><input type="checkbox" id="cb12" name="cb12" value=@sustest.Disagree> </th> 
                        <th><input type="checkbox" id="cb13" name="cb13" value=@sustest.Neutral></th> 
                        <th><input type="checkbox" id="cb14" name="cb14" value=@sustest.Agree></th> 
                        <th><input type="checkbox" id="cb15" name="cb15" value=@sustest.StronglyAgree></th>
                    @* </div> *@
                </div>
            </tr>
            <tr>
                <th>I found the various functions in this website were well integrated. </th>
                <div class= "checkbox">
                    @* <div class="thcheck"> *@
                        <th><input type="checkbox" id="cb11" name="cb11" value=@sustest.StronglyDisagree> </th>
                        <th><input type="checkbox" id="cb12" name="cb12" value=@sustest.Disagree> </th> 
                        <th><input type="checkbox" id="cb13" name="cb13" value=@sustest.Neutral></th> 
                        <th><input type="checkbox" id="cb14" name="cb14" value=@sustest.Agree></th> 
                        <th><input type="checkbox" id="cb15" name="cb15" value=@sustest.StronglyAgree></th>
                    @* </div> *@
                </div>
            </tr>
            <tr>
                <th>I thought there was too much inconsistency in this website.</th>
                <div class= "checkbox">
                    @* <div class="thcheck"> *@
                        <th><input type="checkbox" id="cb11" name="cb11" value=@sustest.StronglyDisagree> </th>
                        <th><input type="checkbox" id="cb12" name="cb12" value=@sustest.Disagree> </th> 
                        <th><input type="checkbox" id="cb13" name="cb13" value=@sustest.Neutral></th> 
                        <th><input type="checkbox" id="cb14" name="cb14" value=@sustest.Agree></th> 
                        <th><input type="checkbox" id="cb15" name="cb15" value=@sustest.StronglyAgree></th>
                    @* </div> *@
                </div>
            </tr>
            <tr>
                <th>I would imagine that most people would learn to use this website very quickly.</th>
                <div class= "checkbox">
                    @* <div class="thcheck"> *@
                        <th><input type="checkbox" id="cb11" name="cb11" value=@sustest.StronglyDisagree> </th>
                        <th><input type="checkbox" id="cb12" name="cb12" value=@sustest.Disagree> </th> 
                        <th><input type="checkbox" id="cb13" name="cb13" value=@sustest.Neutral></th> 
                        <th><input type="checkbox" id="cb14" name="cb14" value=@sustest.Agree></th> 
                        <th><input type="checkbox" id="cb15" name="cb15" value=@sustest.StronglyAgree></th>
                    @* </div> *@
                </div>
            </tr>
            <tr>
                <th>I found the website very cumbersom/awkward to use.</th>
                <div class= "checkbox">
                    @* <div class="thcheck"> *@
                        <th><input type="checkbox" id="cb11" name="cb11" value=@sustest.StronglyDisagree> </th>
                        <th><input type="checkbox" id="cb12" name="cb12" value=@sustest.Disagree> </th> 
                        <th><input type="checkbox" id="cb13" name="cb13" value=@sustest.Neutral></th> 
                        <th><input type="checkbox" id="cb14" name="cb14" value=@sustest.Agree></th> 
                        <th><input type="checkbox" id="cb15" name="cb15" value=@sustest.StronglyAgree></th>
                    @* </div> *@
                </div>
            </tr>
             <tr>
                <th>I felt very confident using the website.</th>
                <div class= "checkbox">
                    @* <div class="thcheck"> *@
                        <th><input type="checkbox" id="cb11" name="cb11" value=@sustest.StronglyDisagree> </th>
                        <th><input type="checkbox" id="cb12" name="cb12" value=@sustest.Disagree> </th> 
                        <th><input type="checkbox" id="cb13" name="cb13" value=@sustest.Neutral></th> 
                        <th><input type="checkbox" id="cb14" name="cb14" value=@sustest.Agree></th> 
                        <th><input type="checkbox" id="cb15" name="cb15" value=@sustest.StronglyAgree></th>
                    @* </div> *@
                </div>
            </tr>
             <tr>
                <th>I needed to learn a lot of things before i could get going with this system.</th>
                <div class= "checkbox">
                    @* <div class="thcheck"> *@
                        <th><input type="checkbox" id="cb11" name="cb11" value=@sustest.StronglyDisagree> </th>
                        <th><input type="checkbox" id="cb12" name="cb12" value=@sustest.Disagree> </th> 
                        <th><input type="checkbox" id="cb13" name="cb13" value=@sustest.Neutral></th> 
                        <th><input type="checkbox" id="cb14" name="cb14" value=@sustest.Agree></th> 
                        <th><input type="checkbox" id="cb15" name="cb15" value=@sustest.StronglyAgree></th>
                    @* </div> *@
                </div>
            </tr>
        </tr>
    </table>
</form>

}