@model IEnumerable<UIAutomate.Models.SUSTest>

@* @model UIAutomate.Models.SUSTest *@

@{
    ViewData["Title"] = "System Usballity Scale (SUS)";
}
<h1>@ViewData["Title"]</h1>

<p>Please rate on the following scale to what extent you agree with the statements.</p>


<form method="post">
    <table>
        <tr>
            <thead>
                <tr>
                    <th></th> 
                    <th> <div id="valid1">Strongly disagree</div>     </th> 
                    <th> <div id="valid2">Disagree</div> </th> 
                    <th> <div id="valid3">Neutral</div></th>
                    <th> <div id="valid4">Agree</div></th>
                    <th> <div id="valid5">Strongly agree</div> </th>
                </tr>  
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <th> @Html.DisplayFor(modelItem => item.Question)</th>
                        <div class= "checkbox">
                            <th><input type="checkbox" id="cb12" name="cb12" value='@Html.DisplayFor(modelItem => item.StronglyDisagree)'></th> 
                            <th><input type="checkbox" id="cb12" name="cb12" value='@Html.DisplayFor(modelItem => item.Disagree)'></th> 
                            <th><input type="checkbox" id="cb13" name="cb13" value='@Html.DisplayFor(modelItem => item.Neutral)'></th> 
                            <th><input type="checkbox" id="cb14" name="cb14" value='@Html.DisplayFor(modelItem => item.Agree)'></th>
                            <th><input type="checkbox" id="cb15" name="cb15" value='@Html.DisplayFor(modelItem => item.StronglyAgree)'></th>
                            @* <div class="form-group">
                                <input type="submit" value="Update" class="btn btn-primary" />
                            </div> *@
                        </div>
                    </tr>
                }
          
        </tr>
    </table>
</form>


<div class="form-group">
    <input type="submit" value="Edit" class="btn btn-primary" />
</div>
